@font-face {
        font-family: "poppins-light";
        src: url(./poppins/Poppins-Light.ttf);
}
@font-face {
        font-family: "poppins-semibold";
        src: url(./poppins/Poppins-SemiBold.ttf);
}
body {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-image: url(./images/background.jpg);
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
}
table {
        padding: 100px;
        background-color: rgba(249, 247, 247, 0.537);
        backdrop-filter: blur(7px);
}
h1 {
        font-family: "poppins-semibold";
        font-size: 3rem;
        background-color: rgb(43, 118, 180);
        padding: 10px 20px;
        color: white;
}
th {
        padding: 20px;
        border: 2px solid rgb(0, 0, 0);
        font-family: "poppins-semibold";
        font-size: 2rem;
        background-color: rgb(43, 118, 180);
        color: white;
}
td {
        padding: 20px;
        border: 2px solid white;
        font-family: "poppins-light";
        border: 2px solid black;
        color: black;
}
